@{
    ViewData["Title"] = "Home Page";
}

    <div class="full-screen-background">
        <div class="content text-center">
        <h1 class="display-4"><i class="fas fa-eye"></i> Review Increase</h1>
        </div>
    <div class="container mt-3">
        <form>
            <!-- Row for the search input and button -->
            <div class="row mb-3">
                <label for="codigo" class="col-sm-2 col-form-label">Código:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="codigo" placeholder="Ingrese el código">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary">  <i class="fas fa-search"></i> Search</button>
                </div>
            </div>

            <!-- Row for the current and new revision inputs -->
            <div class="row mb-3">
                <label for="revisionActual" class="col-sm-2 col-form-label">Revisión Actual:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="revisionActual" disabled>
                </div>
                <label for="nuevaRevision" class="col-sm-2 col-form-label">Nueva Revisión:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nuevaRevision" disabled>
                </div>
            </div>

            <!-- Row for the production date input -->
            <div class="row mb-3">
                <label for="fechaProduccion" class="col-sm-2 col-form-label">Fecha en Producción:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="fechaProduccion">
                </div>
            </div>

            <!-- Row for the change description textarea -->
            <div class="row mb-3">
                <label for="descripcionCambio" class="col-sm-2 col-form-label">Descripción del cambio:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="descripcionCambio" rows="3"></textarea>
                </div>
            </div>

            <!-- Row for the save button -->
            <div class="row mb-3">
                <div class="col-sm-12 text-end">
                    <button type="submit" class="btn btn-success">  <i class="fas fa-save"></i> Save</button>
                    <button type="submit" class="btn btn-warning" onclick="ClearForm">  <i class="fas fa-trash"></i> Clear</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function ClearForm() {
            document.querySelectorAll('input[type="text"]').forEach(element => element.value = '');
        }
    </script>

    </div>
